<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dispositivos</ion-title>
  </ion-toolbar>
  <!--button (click)="subscribe()">Sub</button>
  <br>
  <button (click)="unsubscribe()">Unsub</button>
  <br-->
  <ion-button (click)="requestlistado()">Listar Sensores</ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dispositivos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let elemento of listado" appColorear>
    elemento //[dispositivo]="elemento" (click)="handleItemClick(elemento)">
 </div>
</ion-content>
